<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>Splitta</title>
</head>
<body class="has-background-light">

    <nav class="navbar is-flex is-justify-content-center pt-4 pb-6 has-background-light">
        <div class="is-flex is-flex-direction-row">
            <figure class="image is-64x64">
                <a href="index.html">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP._WaV3Wc3-6z5QMUtA9YccQHaHa%26pid%3DApi&f=1" alt="Splitta Logo">
                </a>
            </figure>
            <a href="index.html"><h3 class="title is-3 py-3 px-2 has-background-light">Splitta</h3></a>
        </div>
    </nav>

    <div class="columns is-flex is-justify-content-center pt-6">
        <div class="column is-8-mobile is-10-tablet is-8-desktop is-8-widescreen is-8-fullhd">
            <div class="columns">
                <div class="column is-8 has-background-light p-2 is-flex is-flex-direction-column is-justify-content-center">
                    <div class="is-flex is-flex-direction-column is-align-content-center">
                        <h3 class="title is-3">Mantieni le amicizie, dividi le spese!</h3>
                        <div class="content p-2">
                            <p>Splitta mantiene il computo delle spese alla luce del sole! <br>
                            Che sia il Gruppo dei coinquilini o della comitiva vacanze, Splitta
                            ti aiuterà a regolare i conti con i tuoi amici.
                            </p>
                        </div>
                        <div class="is-flex is-flex-direction-row is-justify-content-center">
                            <a id="iniziaBtn" href="starter.html" class="button is-large"><strong>INIZIA</strong></a>
                        </div>
                    </div>
                </div>
                <div id="immagine-telefono" class="column is-6-mobile has-background-light p-2" >
                    <figure class="image is-3by5">
                        <img class="has-ratio" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgur.com%2FrvwAnFV.png&f=1&nofb=1" alt="Stock Photo" style="max-height:100vh">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer has-background-warning">
        <p class="content has-text-centered">Sviluppato da <a href="https://github.com/elettrosanto-pertini" target="_blank">@elettrosanto-pertini</a> usando <a href="https://bulma.io" target="_blank">Bulma Framework</a></p>
        <p class="content has-text-centered">Applicazione creata per puro fine didattico e in nessun modo commerciale.</p>
        <p class="content has-text-centered">This app was created with no commercial intent. The only goal is to learn! <br> (I may have been inspired by already existing apps)</p>
    </footer>
    
</body>
</html>