*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    height:fit-content;
}

body{
    /*min-height:100vh;*/
    height:100%;
}

#iniziaBtn{
    background-color: #edc937;
    color:#473c10;
}

@media screen and (max-width:768px){
    #immagine-telefono{
        margin:auto;
    }
}