*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    height:100%;
    width:100%;
}
/*#ffe08a*/

main{
    background-color: #ffe08a38;
}

#copertina{
    width:100%;
}

.hovera:hover{
    background-color: #eee;
    border-radius:3px;
}
